/*-----------------------------------------------------------
Common
-----------------------------------------------------------*/

.clearfix:after {
  clear: both;
  content: "";
  display: block;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

//Hover effect
.fade {
  transition: .5s;

  &:hover {
    opacity: .5;
  }
}

//Font style
.bold,
strong {
  font-weight: bold;
}

.red {
  color: #F44336;
}

.marker {
  background: linear-gradient(transparent 60%, #FFC107 60%);
}

.notice {
  font-size: 13px;
  text-indent: -1rem;
  padding: 0 0 0 1rem;
}

.font01 {
  font-family: $font01;
}

.font02 {
  font-family: $font02;
}

//Margin bottom
.mb0 {
  margin-bottom: 0 !important;
}

.mbXS {
  margin-bottom: 5px !important;
}

.mbS {
  margin-bottom: 15px !important;
}

.mbM {
  margin-bottom: 30px !important;
}

.mbL {
  margin-bottom: 60px !important;
}

.mbXL {
  margin-bottom: 120px !important;
}

//Margin top
.mt0 {
  margin-top: 0 !important;
}

.mtS {
  margin-top: 15px;
}

//Padding bottom
.pb0 {
  padding-bottom: 0 !important;
}

//Text align
.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.tal {
  text-align: left;
}

//Map
.sp-map {
  iframe {
    vertical-align: bottom;
  }
}

//Video
.youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 800px) {
  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  .sp-tac {
    text-align: center !important;
  }

  .sp-tar {
    text-align: right !important;
  }

  .sp-tal {
    text-align: left !important;
  }

  .mbL {
    margin-bottom: 30px !important;
  }

  .mbXL {
    margin-bottom: 50px !important;
  }

  .sp-map {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }

  .sp-map iframe,
  .sp-map object,
  .sp-map embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
