/*-----------------------------------------------------------
お問い合わせ
-----------------------------------------------------------*/

.tel-layout {
  background: #f5f5f5;
  max-width: 800px;
  padding: 30px 50px;
  margin: 0 auto;
  text-align: center;

  .ttl {
    display: table;
    border-bottom: 1px solid #333;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.7;
    padding: 0 0 15px;
    margin: 0 auto 25px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    align-items: center;
  }

  .tel {
    display: block;
    font-weight: bold;
    font-size: 35px;
    line-height: 1;
    margin-bottom: 15px;
    letter-spacing: 0.15em;
    white-space: nowrap;

    i {
      display: inline-block;
      font-size: 20px;
    }
  }

  .txt {
    line-height: 1.5;
  }

  .time {
    text-align: left;
    overflow: hidden;
    word-break: break-all;
    line-height: 1.5;

    dt {
      float: left;
    }

    dd {
      padding-left: 80px;
    }
  }
}

.contact-form {
  border: 2px solid #f0f3f7;
  background: #fff;
  padding: 60px;

  table {
    border-collapse: collapse;
    margin: 0 0 50px;
    width: 100%;

    tr {
      border-bottom: 1px dashed #CCC;
    }

    th {
      padding: 20px 40px 20px 0;
      vertical-align: middle;
      font-weight: bold;
    }

    td {
      padding: 20px 0;
    }
  }

  .hissu {
    display: inline-block;
    background: #E57373;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    padding: 1px 8px;
    margin-left: 15px;
    vertical-align: 1px;
  }

  //入力類
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  select,
  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #f1f1f1;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    padding: 10px;
    width: 100%;
  }

  select::-ms-expand {
    display: none;
  }

  textarea {
    height: 200px;
    resize: vertical;
  }

  input[type="file"] {
    display: inline-block;
  }

  //フォーカス
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  input[type="number"]:focus,
  textarea:focus,
  select:focus {
    outline: 1px solid #419caf;
  }

  //セレクト
  .select-wrap {
    position: relative;

    &::after {
      content: "";
      border-style: solid;
      border-width: 8px 5px 0 5px;
      border-color: #333 transparent transparent transparent;
      pointer-events: none;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
    }
  }

  .mwform-radio-field,
  .mwform-checkbox-field {
    display: inline-block;
    margin-right: 15px;
    margin-left: 0 !important;
  }

  //ラジオ
  .mwform-radio-field {
    input[type="radio"] {
      display: none;
    }

    label {
      display: inline-block;
      border-radius: 2px;
      position: relative;
      cursor: pointer;
      padding: 0 0 0 30px;
      line-height: 1;

      &:before {
        position: absolute;
        content: "";
        top: 50%;
        left: 0;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        background: #fff;
        border: 2px solid #ddd;
        border-radius: 50%;
        box-sizing: border-box;
      }
    }

    .mwform-radio-field-text:after {
      content: "";
      border-radius: 50%;
      background: #419caf;
      position: absolute;
      top: 50%;
      left: 5px;
      width: 10px;
      height: 10px;
      margin-top: -5px;
      transition: .4s;
      transform: scale(0);
    }

    input[type="radio"]:checked+.mwform-radio-field-text:after {
      transform: scale(1);
    }
  }

  //チェックボックス
  .mwform-checkbox-field {
    input[type="checkbox"] {
      display: none;
    }

    label {
      display: inline-block;
      cursor: pointer;
      line-height: 1;
      padding: 0 0 0 30px;
      position: relative;

      &:before {
        content: "";
        background: #fff;
        border: 2px solid #ddd;
        border-radius: 3px;
        position: absolute;
        top: 50%;
        left: 0;
        width: 20px;
        height: 20px;
        transform: translateY(-50%);
        box-sizing: border-box;
      }
    }

    .mwform-checkbox-field-text:after {
      content: "";
      border-bottom: 3px solid #419caf;
      border-right: 3px solid #419caf;
      width: 7px;
      height: 12px;
      position: absolute;
      top: 1px;
      left: 7px;
      transition: .3s;
      transform: scale(0) rotate(45deg);
    }

    input[type="checkbox"]:checked+.mwform-checkbox-field-text:after {
      transform: scale(1) rotate(45deg);
    }
  }

  //電話
  .mwform-tel-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mwform-tel-field {
    input[type="text"] {
      width: 29%;

      &:nth-of-type(1) {
        margin-right: 10px;
      }

      &:nth-of-type(2) {
        margin: 0 10px;
      }

      &:nth-of-type(3) {
        margin-left: 10px;
      }
    }
  }

  //住所
  .mwform-zip-field input[type="text"] {
    width: 15%;
    min-width: 80px;
    margin: 0 10px;
  }

  //生年月日
  .preferred-date {
    overflow: hidden;

    .date {
      width: 45%;
      float: left;
    }

    .time {
      display: flex;
      align-items: center;
      float: right;
      width: 50%;

      select {
        width: 80px;
      }

      .hour {
        margin: 0 10px;
      }

      .minute {
        margin: 0 0 0 10px;
      }
    }
  }

  .birthday {
    display: flex;
    align-items: center;

    select {
      width: 100px;
    }

    .year {
      margin: 0 10px;
    }

    .month {
      margin: 0 10px;
    }

    .day {
      margin: 0 0 0 10px;
    }
  }

  .gakureki {
    display: flex;
    justify-content: space-between;

    input {
      width: 48%;
    }
  }

  //送信ボタン
  .submit-btn {
    display: flex;
    justify-content: center;

    [type="submit"] {
      -webkit-appearance: none;
      background: #419caf;
      border: 1px solid #419caf;
      border-radius: 0;
      outline: none;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      padding: 22px 40px;
      letter-spacing: 3px;
      transition: .3s;
      width: 250px;

      &:hover {
        opacity: .7;
      }

      &.back-btn {
        background: #999;
        border: none;
        margin-right: 50px;
      }
    }
  }
}

//確認画面時、selectの矢印を非表示
.mw_wp_form_confirm .select-wrap::after {
  display: none;
}

@media screen and (max-width: 800px) and (min-width: 0px) {
  .tel-layout {
    padding: 25px;

    .ttl {
      display: block;
      font-size: 15px;
    }

    .wrapper {
      grid-template-columns: 1fr;
      grid-gap: 15px;
    }

    .tel {
      font-size: 23px;
    }
  }

  .contact-form {
    border: none;
    padding: 0;

    colgroup {
      display: none;
    }

    table {
      margin: 0 0 30px;

      tr {
        border-bottom: 1px dashed #CCC;
      }

      th,
      td {
        display: block;
      }

      th {
        padding: 15px 0 10px;
      }

      td {
        padding: 0 0 15px;
      }
    }

    .preferred-date {
      overflow: hidden;

      .date {
        width: 100%;
        float: none;
        margin: 0 0 10px;
      }

      .time {
        width: 100%;
      }
    }

    .birthday {
      select {
        width: auto;
        padding: 10px 30px 10px 10px;
      }

      .year {
        margin: 0 5px;
      }

      .month {
        margin: 0 5px;
      }

      .day {
        margin: 0 0 0 5px;
      }
    }

    .submit-btn {
      [type="submit"] {
        padding: 15px;
        width: 250px;

        &.back-btn {
          margin-right: 25px;
        }
      }
    }
  }
}

.grecaptcha-badge {}

@media screen and (max-width: 800px) {
  .grecaptcha-badge {
    bottom: 70px !important;
  }
}

/*------------
個人情報保護方針
--------------*/
.dl-privacy {
  dt {
    border-bottom: 1px solid #000;
    font-size: 18px;
    padding: 0 0 5px;
    margin: 0 0 15px;
  }

  dd {
    &+dt {
      margin-top: 30px;
    }
  }
}

.list-privacy {
  li {
    position: relative;
    padding: 0 0 0 15px;

    &+li {
      margin-top: 3px;
    }

    &:before {
      background: #333;
      border-radius: 50%;
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 10px;
      width: 5px;
      height: 5px;
    }
  }
}
