@import "_variables.scss"; // 変数定義

/*-----------------------------------------------------------
Top
-----------------------------------------------------------*/
/*------------
Header
--------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 110;
  transition: 0.5s;

  &.is-fixed {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);

    .h-wrapper {
      padding: 0 2.5vw;
      transition: 0.5s;
    }

    .h-logo {
      max-width: 180px;
      transition: 0.5s;
    }

    .pc-navi {
      >ul {
        >li {
          &+li {
            >a:not(.btn) {
              line-height: 80px;
            }
          }
        }
      }
    }
  }

  &.is-on {
    background: #fff;
  }
}

.h-wrapper {
  padding: 0 2.5vw;
}

.h-logo {
  transition: 0.5s;
}

/*------------
G-navi
--------------*/

.pc-navi {
  >ul {
    color: $iro02;

    >li {
      >a {
        line-height: 100px;

        &::after {
          content: "";
          background: $iro01;
        }
      }
    }
  }
}

.page-ttl {
  margin-top: 115px;
}

@media only screen and (max-width: 800px) {
  .header {
    position: absolute;
    top: 0;
  }

  .page-ttl {
    margin-top: 0;
  }
}
